{% extends 'site/base.html.twig' %}

{% block title %}Contactez LE SAPEF{% endblock %}

{% block body %}
    <h1 class="page-section-heading text-center text-black text-uppercase mt-5">Une question ?</h1>

    {% include "site/components/hr.html.twig" %}

        {{ form_start(contactForm) }}

            <div class="col-11 col-lg-6 mx-auto d-flex flex-wrap justify-content-around my-4">
                {% if app.user %}
                    <p class="col-12 text-center mb-2">Vous envoyez en message en tant que:<br/>
                    <b>{{ app.user.email }}</b></p>
                    <p class="col-12 mb-5">Ce n'est pas vous ?<br/>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a></p>
                {% else %}
                    <div class="my-3 col-11 mx-auto col-md-7 offset-md-1 mx-md-0">
                        <label class="form-label">{{ form_label(contactForm.email) }}</label>
                        {{ form_widget(contactForm.email) }}
                    </div>
                    <div class="mb-3 col-11 mx-auto col-md-7 ">
                        <label class="form-label">{{ form_label(contactForm.phone) }}</label>
                        {{ form_widget(contactForm.phone) }}
                    </div>
                {% endif %}

                <div class="mb-3 col-11 mx-auto col-md-7 ">
                    <label class="form-label">{{ form_label(contactForm.question) }}</label>
                    {{ form_widget(contactForm.question) }}
                </div>
                <div class="col-12 text-center my-3">
                    <button type="submit" class="btn btn-success">Envoyer votre question !</button>
                </div>
            </div>

        {{ form_end(contactForm) }}
{% endblock %}