{% extends 'site/base.html.twig' %}

{% block title %}Les élus du Sapef{% endblock %}

{% block body %}
    <div class="js-locations" data-locations="{{ donnees.stores }}"></div>
    <div class="js-states" data-states="{{ donnees.states }}"></div>
 
    <h1 class="page-section-heading text-center text-black text-uppercase mt-5">Les élus du Sapef</h1>

    {% include "site/components/hr.html.twig" %}

    <div class="row mt-5">
        <div class="col-11 col-md-9 col-lg-6 mx-auto">
            <script type="text/javascript" src="{{ asset('map/mapdata.js') }}"></script> 
            <script type="text/javascript" src="{{ asset('map/countrymap.js') }}"></script> 
            <div id="map"></div>
        </div>
    </div>

    <div class="row mb-5 justify-content-start">
        {% for region in legends %}
            {% if region.elus | length > 0 %}
                <div class="col-11 col-md-6 col-lg-4 my-2">
                    <ul class="list-group"><span class="badge" style="background-color:{{ region.color }}">{{ region.name }}</span>
                            {% for elu in region.elus %}
                                <li class="list-group-item">{{ elu.name }}<br/>
                                <i class="fas fa-location"></i> {{ elu.name.shop.name }} - {{ elu.name.shop.counterMark }}<br/>
                                <i class="fas fa-mobile-alt"></i> : {{ elu.name.phone }}</li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {# {% if donnees.titulaires is defined and donnees.titulaires|length > 0 %}
    {% set titulaires = donnees.titulaires %}
        {% include "site/components/hr.html.twig" %}

        <div class="row my-5 text-black justify-content-around">
            {% for titulaire in titulaires %}
                {% include "site/components/card_elu.html.twig" with {'elu': titulaire} %}
            {% endfor %}
        </div>
    {% endif %}


    {% if donnees.suppleants is defined and donnees.suppleants|length > 0 %}
    {% set suppleants = donnees.suppleants %}
        {% include "site/components/hr.html.twig" %}
        
        <div class="row my-5 text-black justify-content-around">
            {% for suppleant in suppleants %}
                {% include "site/components/card_elu.html.twig" with {'elu': suppleant} %}
            {% endfor %}
        </div>
    {% endif %} #}

{% endblock %}