{% extends 'member/base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    <div class="card col-12">
        <div class="card-header">Invitation d'une personne</div>
        <div class="card-body">

        {% include "site/flash_message.html.twig" %}

            <div class="col-12 lead text-center mt-3">Vous pouvez inviter la personne de votre choix à rejoindre notre site en lui envoyant un email.</div>

            {{ form_start(emailForSendInvitationForm) }}

                <div class="col-11 col-lg-8 mx-auto d-flex flex-wrap justify-content-around my-4">
                    <div class="my-3 col-11 mx-auto col-md-8 offset-md-1 mx-md-0">
                        <label class="form-label">{{ form_label(emailForSendInvitationForm.email) }}</label>
                        {{ form_widget(emailForSendInvitationForm.email) }}
                    </div>
                    <div class="my-3 col-11 mx-auto col-md-5 d-flex">
                        <label class="form-label">{{ form_label(emailForSendInvitationForm.isAgreeTerms) }}</label>
                        {{ form_widget(emailForSendInvitationForm.isAgreeTerms) }}
                    </div>
                    <div class="col-12 text-center my-3">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>
                
            {{ form_end(emailForSendInvitationForm) }}

            {% include "site/components/hr.html.twig" %}

            <table class="table table-striped mt-3 align-middle text-center">
                <tr>
                    <th>Date d'envoi:</th>
                    <th>Email invité:</th>
                    <th>Invitation utilisée</th>
                </tr>
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.sendAt | date('d-M-Y') }}</td>
                        <td>{{ invitation.email }}</td>
                        <td>{{ invitation.user ?? 'NON' }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}
